body {
	font-family:  Helvetica, Verdana, Arial;
	background-color: #D14900;
	margin: 0;
	line-height: 1.4;
	padding: 0;
	color: #000;
	font-size: 100%;
}

h1, h3, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}

a img { 
	border: none;
}

.container {
	width: 1200px;
	background-color: #FFF;
	margin: 0 auto; 
}

header {
	background-color: #D14900;
}

.sidebar1 {
	float: right;
	width: 180px;
	background-color: #D14900;
}

.content {
	padding: 10px 0;
	width: 780px;
	float: right;
}

footer {
	font-size: 10px;
	font-style:italic;
	padding: 10px 0;
	background-color: #8D8D8D;
	position: relative;
	clear: both; 
}
